<h2>Airline Passenger</h2>
 
     <app-passcount
     [totalcount]="passArr.length"
     [checkincount]="checkincount"></app-passcount>
     <ul class="list-group">
        <li
        [ngClass]="{
            'list-group-item-success':pass.checkInDate,
            'list-group-item-danger' :!pass.checkInDate
           }"
        class="list-group-item " *ngFor="let pass of passArr">
            {{pass.fullname}}
        </li>
     </ul>
      {{getcheckincount() | json}}
     <app-passcard (emitobj)="onremoveupdate($event)" [passObj]="pass" *ngFor="let pass of passArr"></app-passcard>
 