
<div class="card mt-2 mb-4 passcard">
  <div class="card-body">
     <div class="form-group ml-3">
       <span
       [ngClass]="{
        'bg-success':passObj.checkInDate,
        'bg-danger' :!passObj.checkInDate
       }" class="checkinstatus"></span>
       <input type="text" class="form-control" [value]="passObj.fullname" #fullname [disabled]="!isineditmode">
     </div>

     <p>
        check In date : {{passObj.checkInDate ? ( passObj.checkInDate | date) : 'Not Checked in Yet'}}
     </p>

     <p>
        Children : {{passObj.children?.length ?? 0}}
     </p>

     <button  (click)="isineditmode =!isineditmode" *ngIf="!isineditmode" mat-raised-button color="primary">Edit</button>
     <button  (click)="onupdatename(fullname.value)" *ngIf="isineditmode" mat-raised-button color="primary" >Done</button>
     <button (click)="onprodremove(passObj.id)" mat-raised-button color="warn" class="ml-3">Remove</button>
     

  </div>
</div>