
<div class="card mb-4">
  <div class="card-header">
     {{prodObj.pname}}
  </div>
  <div class="card-body">
     {{prodObj.pdetail}} and the status is <strong>{{prodObj.pstatus}}</strong>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <button (click)="onstatuschange(productstatus.Inprogress)" mat-raised-button color="primary">Inprogress</button>
    <button (click)="onstatuschange(productstatus.Dispatched)" mat-raised-button color="primary">Dispatched</button>
    <button (click)="onstatuschange(productstatus.Delivered)" mat-raised-button color="primary">Delivered</button>
  </div>
</div>
